.ant-table-tbody {
  padding: 0 !important;
}

.ant-table-tbody>tr>td {
  padding: 0 !important;
}

.ant-form-item-row {
  display: flex;
  flex-direction: column !important;

  .ant-form-item-label {
    text-align: left !important;
  }
}
.first-row{
  display:  flex !important;
  flex-direction: row !important;
}